<!DOCTYPE HTML>

<html>
	<head>
		<title>Smart Food Planner</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">SFP <span>by ADA</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Domů</a></li>
					<li><a href="generic.html">Můj účet</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper">
						<div class="inner">
							<header class="align-center">
								<h1>SFP App</h1>
								<p>Be smart and buy an app that creates a food plan just for you.</p>
							</header>
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Subscription</h3>
									<p>Zadej potraviny, které máš k dispozici:</p>							
								</div>
								<div class="col col1 first">
									<span class="image fit">
										<img src="../static/images/pic06.jpg" alt="" />
									</span>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h1>Cookbooks</h1>
								<p>Get the recipes everyone is talking about, handy nutrition facts, and 125 stunning photographs in the debut cookbook from the wildly popular FitnessBeast.</p>
							</header>
							<div class="flex flex-2">
								<div class="col col2">
									<h3>FitnessBeast Cookbook</h3>
									<p>The Essential Bodybuilding Cookbook is not just for bodybuilders, this is the perfect fitness cookbook for anyone that lives a a healthy fit, lifestyle. But the great thing about it is that if you are new to fitness, the cookbook is full of wonderful information to help you understand the benefits of certain foods. I love how the overlying message is that no matter how much time you put into your workout, the results will only come if you combine it with a proper diet. The highlights of this cookbook include:

    150 easy to prepare meals
    The recipes use fresh, lean and nutritious ingredients
    Conversion tables and a sample menu included
    Available on Kindle or in Paperback</p>							
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="../static/images/pic06.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>&copy; Smart Food Planner. All rights reserved.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>
