<!DOCTYPE HTML>
<html>
	<head>
		<title>Smart Food Planner</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/"> SFP <span>by ADA </span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="http://shopping.netsuite.com/sfp">Home</a></li>
					<li><a href="https://checkout.netsuite.com/app/center/nlvisitor.nl/c.TSTDRV2035191/sc.6/n.1/.f">My account</a></li>
					<li><a href="http://shopping.netsuite.com/s.nl/c.TSTDRV2035191/n.1/sc.9/.f">Products</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Smart Food Planner</h1>
						<p>Eat smart and create a food plan that fits your needs.</p>
					</header>
					<a href="#main" class="button big scrolly">Learn more</a>
					<a href="http://shopping.netsuite.com/s.nl/c.TSTDRV2035191/n.1/sc.9/.f" class="button big scrolly">Get it now</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<img src="../static/images/pic01.jpg" alt="" />
										</div>
									</div>
									<div class="col col2">
										<h3>About</h3>
										<p>This App was created as a project within the Digital Academy run by Czechitas. The idea behind was to create an app that generates an ideal menu based on the macro nutrients and food you have at home. If you would like to learn more about the application, please visit our blog.</p>
										<a href="https://checkout.netsuite.com/app/center/nlvisitor.nl?c=TSTDRV2035191&n=1&sc=6" class="button">Register</a>
										<a href="https://checkout.netsuite.com/app/center/nlvisitor.nl?c=TSTDRV2035191&n=1&sc=6" class="button">Log in</a>
										<a href="http://www.smartfoodplanner.blogspot.com" class="button">Blog</a>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Czechitas Digital Academy</h3>
									<p>The Academy is built on the knowledge and skills necessary for the work of a data analysts. Therefore Databases, data cleaning, visualization, data analytics, Python and SQL programming.</p>
									<p>

In three months, you will have a solid ground for joining a junior position in data analysis as a Junior BI Analyst or Junior Analyst in the Marketing and Sales Department (you will learn to analyze data and generate reports, work with BI and SQL tools, and you will learn the basics of Python programming, analytical thinking, and presentation and communication of skills). </p>
									<a href="https://www.czechitas.cz/cs/co-delame/digitalni-akademie" class="button">Learn more</a>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="https://www.czechitas.cz/cs/co-delame/digitalni-akademie" class="link"><img src="../static/images/pic02.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>
				
				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Authors</h2>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="../static/images/pic05.jpg" alt="" />
									</div>
									<p>Andrea Holopová <br> Jsem nadšenec do jógy, snowboardingu a pejsků. Moje kroky po vysoké škole nejdříve zamířily do finančního auditu, kde jsem pracovala více než 2,5 roku. Po čase jsem si však uvědomila, že svět financí není pro mě a přihlásila jsem se do Digitální akademie Czechitas. Chtěla bych pokračovat ve své nové vášni, s cílem nalézt juniorskou pozici v oblasti IT. </p>
									<ul class="icons">
									<li><a href="https://www.linkedin.com/in/andrea-holopova" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
									<li><a href="https://www.instagram.com/andreaholopova/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="mailto:holopova.andrea@gmail.com" class="icon fa-envelope"><span class="label">Email</span></i></a><li>

									</ul>
																
								<div class="col align-center">
									<div class="image round fit">
										<img src="../static/images/pic03.jpg" alt="" />
									</div>
									<p>Jana Jedelská <br> Jsem maminka na rodičovské dovolené, která doposud pracovala jako personalistka. Protože mě vždy lákal svět IT, rozhodla jsem se absolvovat kurz Digitální akademie od Czechitas, který mě doslova nadchnul. Velmi mě baví programování v Pythonu a jsem rozhodnutá, že bych se ve své kariéře chtěla ubírat tímto směrem.</p>
									<ul class="icons">
									<li><a href="https://www.linkedin.com/in/jana-jedelsk%C3%A1-2878081a/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
									<li><a href="https://www.instagram.com/cooljmeno/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="mailto:ja.jedelska@gmail.com" class="icon fa-envelope"><span class="label">Email</span></i></a><li>
									</ul>
									
								</div>
								

								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="../static/images/pic04.jpg" alt="" />
									</div>
									<p>Mentoři a ostatní pomocníci <br> Velké díky patří našemu mentorovi Tomášovi za veškerou podporu, rady a ochotu. Stejně tak Michalovi za pomoc s kódem a v neposlední řadě našim drahým polovičkám, Pavlovi a Kubovi, kteří to s námi museli vydržet :) </p>
									</div>
							</div>
						</div>
</section>

				

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>&copy; Smart Food Planner. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>
